@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;600;700;800&family=Roboto+Slab:wght@100;300;400;600;700&family=Ubuntu+Mono:wght@400;700&display=swap#");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.css");
/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-path-hero {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
  .translatex-1 {
    transform: translateX(-16.6666%);
  }
  .translatex-2 {
    transform: translateX(-33.3333%);
  }
  .translatex-3 {
    transform: translateX(-50%);
  }
  .translatex-4 {
    transform: translateX(-66.66666%);
  }
  .translatex-5 {
    transform: translateX(-83.3333%);
  }
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 font-bold text-white bg-indigo-700 rounded-full shadow-md transition hover:bg-indigo-600;
  }
  .btn-secondary {
    @apply px-4 py-2 font-bold text-indigo-700 bg-transparent border-2 border-indigo-700 rounded-full transition shadow-md hover:bg-indigo-600 hover:text-white;
  }
  .section-full {
    @apply relative flex max-h-full py-24 overflow-hidden lg:h-screen;
  }
}

.animate-load {
  animation-name: translateup;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-delay: 200ms;
  animation-fill-mode: forwards;
}
@keyframes translateup {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-10%);
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: #3730a3;
  background: #fcd34d;
}

::selection {
  color: #3730a3;
  background: #fcd34d;
}
